{%- load_yaml as server_default %}
Debian:
  enabled: False
  pkg: elasticsearch
  curator_pkgs:
    - elasticsearch-curator
    - cron
  service: elasticsearch
  version: '2.4.6'
  major_version: '2'
RedHat:
  enabled: False
  pkg: elasticsearch
  curator_pkgs:
    - elasticsearch-curator
  service: elasticsearch
  version: '2.4.6'
  major_version: '2'
default:
  version: 5
{%- endload %}

{%- set server = salt['grains.filter_by'](server_default, merge=salt['pillar.get']('elasticsearch:server'), base='default') %}

{%- load_yaml as monitoring_default %}
Debian:
  enabled: False
  service_failed_warning_threshold_percent: '0.3'
  service_failed_critical_threshold_percent: '0.6'
  service_disk_space_watermark_minor_threshold_percent: '0.6'
  service_disk_space_watermark_major_threshold_percent: '0.75'
RedHat:
  enabled: False
default:
  enabled: False
{%- endload %}

{%- set monitoring = salt['grains.filter_by'](monitoring_default, merge=salt['pillar.get']('elasticsearch:monitoring'), base='default') %}